<app-shared-card variant="light">
  <h3>Stations</h3>
  <div class="station-row" *ngFor="let station of stations">
    <app-shared-station-tag [station]="station.value" [selected]="station.status != 'incomplete'">{{
      station.value
    }}</app-shared-station-tag>
    <app-rooms-station-switch-card-status-icon-text-display
      [status]="station.status"
    ></app-rooms-station-switch-card-status-icon-text-display>
    <app-shared-tooltip
      text="{{
        station.durationColor === 'green'
          ? 'Station was completed within time bounds'
          : station.durationColor === 'white'
          ? 'Station assignment duration timer'
          : station.durationColor === 'yellow'
          ? 'Station is close to overtime'
          : station.durationColor === 'red'
          ? 'Station went overtime'
          : ''
      }}"
    >
      <h5 class="{{ station.durationColor }}" [ngClass]="{ bold: station.isActive }">{{ station.time }}</h5>
    </app-shared-tooltip>
    <app-shared-outlined-button
      ngClass="button"
      *ngIf="selectedRoom?.status === 'green' && station.status === 'current'"
      (click)="handleStationChange('UNASSIGN', station.value)"
      >UNASSIGN</app-shared-outlined-button
    >
    <app-shared-outlined-button
      *ngIf="selectedRoom?.status === 'green' && station.status === 'incomplete'"
      (click)="handleStationChange('ASSIGN', station.value)"
      >ASSIGN</app-shared-outlined-button
    >
    <div class="button" *ngIf="station.status === 'completed'"></div>
  </div>
</app-shared-card>
