@import 'src/styles/styles.scss';

.station-row {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  align-items: center;

  .item {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
  }
}

.current {
  color: $primary-text;
}

.completed {
  color: $green;
}

.incomplete {
  color: $lightGray;
}

.button {
    width: 6rem;
}

// station.durationColor
.white {
  color: $white;
}

.yellow {
  color: $yellow;
}

.red {
  color: $red;
}

.green {
  color: $green;
}

.bold {
  font-weight: bold;
}