<app-shared-card variant="light">
  <h3>Stations</h3>
  <div class="station-row" *ngFor="let station of stations">
    <app-shared-station-tag [station]="station.value" [selected]="station.status != 'incomplete'">{{
      station.value
    }}</app-shared-station-tag>
    <app-rooms-station-switch-card-status-icon-text-display
      [status]="station.status"
    ></app-rooms-station-switch-card-status-icon-text-display>
    <h5 [ngClass]="station.status">{{ station.time }}</h5>
    <app-shared-outlined-button ngClass="button" *ngIf="station.status === 'current'"
    (click)="handleStationChange('UNASSIGN', station.value)"
      >UNASSIGN</app-shared-outlined-button
    >
    <app-shared-outlined-button *ngIf="station.status === 'incomplete'"
    (click)="handleStationChange('ASSIGN', station.value)"
      >ASSIGN</app-shared-outlined-button
    >
    <div class="button" *ngIf="station.status === 'completed'"></div>
  </div>
</app-shared-card>
