@import 'src/styles/styles.scss';


.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-self: center;

  .card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
    max-width: 100rem;

    .col {
      display: flex;
      justify-content: center;
      align-items: flex-start;

      &.left {
        padding-right: 0.5rem;
      }

      &.right {
        padding-left: 0.5rem;
      }

      .room-display-container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        margin-top: 0.5rem;
      }

      .divider {
        height: 2rem;
      }
    }
  }
}
