@import 'src/styles/styles.scss';


button {
    border-radius: 0.2rem;
    border: 0;
    cursor: pointer;
    padding: 0.6rem 0.8rem;
    min-width: 8rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
}

.gray {
    background-color: $secondary;
}

.green {
    background-color: $green;
    &:hover {
        opacity: 0.7;
        background-color: $green;
    }
}

.red {
    background-color: $red;
    &:hover {
        opacity: 0.7;
        background-color: $red;
    }
}
