.container {
  width: 100%;
  display: flex;
  justify-content: center;

  .small {
    width: 100%;
  }

  .room-display-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 0.5rem;
  }

  .table-container {
    display: flex;
    justify-content: space-between;
    padding: 0rem 1rem;
    margin-top: 2rem;

    th.small,
    td.small {
      padding: 0.5rem 1rem;
      justify-content: center;
      display: flex;
    }
  }
}
