<div class="container">
  <app-shared-card [size]="variant !== 'small' ? 'small' : ''" [title]="variant !== 'small' ? 'UIA Statistics' : ''" [variant]="variant === 'small' ? 'light' : 'default'">
    <h3 *ngIf="variant === 'small'">UIA Statistics</h3>
    <div *ngIf="variant != 'small'" class="room-display-container">
      <h3>Room {{ selectedRoom?.id }}</h3>
      <app-shared-switch-room-button [room]="selectedRoom" (changeEvent)="dropdownVisibilityChanged($event)" />
    </div>
    <div class="table-container">
      <table style="text-align: left">
        <thead>
          <th class="small"><h4>Status</h4></th>
          <th><h4>Sensor</h4></th>
        </thead>
        <tbody>
          <tr *ngFor="let sensor of sensors1">
            <td class="small">
              <app-shared-status-indicator
                status="{{ sensor.status === true ? 'green' : sensor.status === false ? 'red' : 'gray' }}"
              ></app-shared-status-indicator>
            </td>
            <td>{{ sensor.name }}</td>
          </tr>
        </tbody>
      </table>
      <table style="text-align: left">
        <thead>
          <th class="small"><h4>Status</h4></th>
          <th><h4>Sensor</h4></th>
        </thead>
        <tbody>
          <tr *ngFor="let sensor of sensors2">
            <td class="small">
              <app-shared-status-indicator
                status="{{ sensor.status === true ? 'green' : sensor.status === false ? 'red' : 'gray' }}"
              ></app-shared-status-indicator>
            </td>
            <td>{{ sensor.name }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </app-shared-card>
</div>
