@import 'src/styles/styles.scss';


.content-container {
  padding: 0rem 2rem;
  min-height: 100vh;

  .info-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 1rem 3rem 1rem;
  }
}

.green-text {
  color: $green;
}

.red-text {
  color: $red;
}

.flashAnimation {
  animation: blinking 2s infinite;
}

@keyframes blinking {
0% {
  opacity: 0.5;
}
// 30% {
//   opacity: 05;
// }
50% {
  opacity: 1;
}
// 70% {
//   opacity: 1;
// }
100% {
  opacity: 0.5;
}
}
