@import 'base/__base-dir';
@import 'theme/__theme-dir';

// Base background color for the whole app
html, body {
    background-color: $secondary;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
}

.global-styles {
    .container {
      width: 100%;
      display: flex;
      justify-content: center;
    
      .table-container {
        display: flex;
        justify-content: space-between;
        padding: 0rem 1rem;
        margin-top: 2rem;
    
        th.small,
        td.small {
          padding: 0.5rem 1rem;
          justify-content: center;
          display: flex;
        }
      }
    }
    
  }