@import 'base/__base-dir';
@import 'theme/__theme-dir';

// Base background color for the whole app
html, body {
    background-color: $secondary;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
}