@import 'src/styles/styles.scss';


button {
    background-color: transparent;
    border-radius: 0.3rem;
    border: 2px solid $white;
    cursor: pointer;
    padding: 0.4rem 0.8rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;

    &:hover {
        background-color: $lightGray;
        border-color: $lightGray;
    }

    h5 {
        font-weight: 600;
        font-size: 0.8rem;
    }
}
