@import 'src/styles/styles.scss';

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.card {
    background-color: $primary;
    width: 90%;
    align-self: center;
    display: flex;
    padding: 3rem;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

