@import 'src/styles/styles.scss';

.block {
    width: 4.5rem;
    padding: 0.4rem 0rem;
    text-align: center;
    border-radius: 0.2rem;

    h5 {
        font-weight: 600;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        padding: 0rem 0.5rem;
    }
}

.UIA {
    background-color: $blue;
}

.GEO {
    background-color: $orange;
}

.ROV {
    background-color: $lime;
}

.deselected {
    background-color: $mediumGray;

    h5 {
        color: $lightGray;
    }
}