@import 'src/styles/styles.scss';

.UIA {
    background-color: $blue;
}

.GEO {
    background-color: $orange;
}

.ROV {
    background-color: $lime;
}

.deselected {
    background-color: $mediumGray;
    color: $lightGray;
}

h5 {
    font-weight: 600;
    padding: 0.4rem 1.4rem;
    border-radius: 0.2rem;
    text-align: center;
    align-content: center;
}
