@import 'src/styles/styles.scss';

.container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 8rem;

    .Current {
        color: $yellow;
    }

    .Completed {
        color: $green;
    }

    .Incomplete {
        color: $lightGray;
    }

    .icon {
        width: 10px;
        height: 10px;
        border-radius: 1rem;

        &.Current {
            width: 8px;
            height: 8px;
            border-color: $yellow;
            border: solid 2px;
        }

        &.Completed {
            content: "\2713";
        }

        &.Incomplete {
            background-color: $lightGray;
            margin: 2px;
        }
    }
}