@import 'src/styles/styles.scss';


.container {
  width: 100%;
  display: flex;
  justify-content: center;

  .card-content {
    margin-top: 2rem;

    .log-container {
        margin-top: 2rem;
    
        .logs-row {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          align-content: center;
          padding: 0.5rem 1rem;
          margin: 0.5rem 0rem;
          background-color: $secondary;
          border-radius: 0.3rem;
    
          &:hover {
            background-color: $gray;
            cursor: pointer;
          }
    
          .item {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 2.5rem;
    
            .error-label {
              color: $red;
              font-weight: 500;
              font-size: 0.8rem;
              font-weight: bold;
              opacity: 0.7;
              text-align: center;
            }
          }
        }
      }
  }
}


// Modal Styles
.modal-container {
  display: flex;
  gap: 2rem;
  flex-direction: column;

  .modal-header {
    margin-bottom: 1rem;
  }

  .modal-body {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    justify-content: center;

    h4 {
      font-weight: 500;
    }

    .row {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      gap: 0.5rem;
    }

    .col {
      display: flex;
      flex-direction: column;
      gap: 1rem;
  
      &.left {
      }
  
      &.right {
      }
    }
  }
}
