@import 'src/styles/styles.scss';

$TOGGLE-HEIGHT: 25px;
$TOGGLE-WIDTH: 55px;

.switch {
  position: relative;
  display: inline-block;
  width: $TOGGLE-WIDTH;
  height: $TOGGLE-HEIGHT;
  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $red;
  -webkit-transition: 0.1s;
  transition: 0.1s;

  /* Rounded sliders */
  &.round {
    border-radius: 34px;
    // If type = "error" then the color is white by default and red when ON
    &.error {
      background-color: $lightGray;
    }
  }

  &.round:before {
    border-radius: 50%;
  }
}

.slider:before {
  position: absolute;
  content: '';
  height: $TOGGLE-HEIGHT - 8px;
  width: $TOGGLE-HEIGHT - 8px;
  left: 4px;
  bottom: 4px;
  background-color: $white;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

input {
  &:checked {
    + .slider {
      background-color: $green;
    }
    + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX($TOGGLE-WIDTH - $TOGGLE-HEIGHT);
    }
    + .slider.error {
      background-color: $red;
    }
  }
  &:focus {
    + .slider {
      box-shadow: 0 0 1px #2196f3;
    }
  }
}

