<div class="table-container">
    <table style="text-align: left">
      <thead>
        <th><h4>Telemetry</h4></th>
        <th><h4>Value</h4></th>
      </thead>
      <tbody>
        <tr *ngFor="let sensor of sensors1">
          <td>{{ sensor.name }}</td>
          <td>
            <h5 *ngIf="sensor.value" [ngClass]="{ 'title fixed-width': true, invisible: sensor.name === '' }">
              {{ sensor.value }}
            </h5>
            <div *ngIf="!sensor.value" [ngClass]="{ 'fixed-width': true, invisible: sensor.name === '' }">
              <h5>false</h5>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <table style="text-align: left">
      <thead>
        <th><h4>Telemetry</h4></th>
        <th><h4>Value</h4></th>
      </thead>
      <tbody>
        <tr *ngFor="let sensor of sensors2">
          <td>{{ sensor.name }}</td>
          <td>
            <h5 [ngClass]="{ 'title fixed-width': true, invisible: sensor.name === '' }">
              {{ sensor.value }}
            </h5>
            <div *ngIf="!sensor.value" [ngClass]="{ 'fixed-width': true, invisible: sensor.name === '' }">
              <h5>false</h5>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  