<div class="two-column" [ngClass]="variant">
  <div class="column-item">
    <h5
      *ngIf="variant === 'small' && connected && !telemetryData?.timer"
      class="connection-heartbeat-text"
      [ngClass]="variant"
    >
      Connecting...
    </h5>
    <h5
      *ngIf="variant === 'small' && connected && telemetryData?.timer"
      class="connection-heartbeat-text"
      [ngClass]="variant"
    >
      EVA Time: {{ telemetryData.timer }}
    </h5>
    <div class="row">
      <app-shared-control-button
        type="{{ this.telemetryData.is_paused ? 'resume' : this.telemetryData.is_running && !this.telemetryData.is_paused ? 'pause' : 'start' }}"
        (click)="handleLeftButtonClick()"
        [disabled]="false"
        [variant]="variant === 'small' ? 'light' : 'default'"
        >{{ this.telemetryData.is_paused ? 'Resume' : this.telemetryData.is_running && !this.telemetryData.is_paused ? 'Pause' : 'Start' }}</app-shared-control-button
      >
      <app-shared-control-button
        type="stop"
        [disabled]="!connected || !telemetryData.is_running"
        (click)="stopTelemetry()"
        [variant]="variant === 'small' ? 'light' : 'default'"
        >Stop</app-shared-control-button
      >
    </div>
    <h5 *ngIf="variant !== 'small' && connected && !telemetryData?.timer" class="connection-heartbeat-text">
      Connecting...
    </h5>
    <h5 *ngIf="variant !== 'small' && connected && telemetryData?.timer" class="connection-heartbeat-text">
      Connected for... {{ telemetryData.timer }}
    </h5>
    <div class="column-item gap" [ngClass]="variant">
      <div class="row" [ngClass]="{ disabled: !connected || !telemetryData.is_running }">
        <!-- <div class="column" *ngFor="let switch of switches; let index = index;" >
              <div class="switch-item">
                <h4 class="switch-label">{{ switch.name }}</h4>
                <app-shared-toggle-switch
                  [type]="'error'"
                  (click)="toggleTelemetry()"
                  [isErroring]="switch.value"
                ></app-shared-toggle-switch>
              </div>
          </div> -->
        <div class="column">
          <div class="switch-item">
            <h4
              class="switch-label"
              [ngClass]="{ erroring: switches[0].value, flashAnimation: switches[0].value && shouldAnimationStart() }"
            >
              {{ switches[0].name }}
            </h4>
            <app-shared-toggle-switch
              [type]="'error'"
              [id]="0"
              [isErroring]="switches[0].value"
              (checked)="handleChange($event)"
              [disabled]="!connected || !telemetryData.is_running"
            ></app-shared-toggle-switch>
          </div>
          <div class="switch-item">
            <h4
              class="switch-label"
              [ngClass]="{ erroring: switches[1].value, flashAnimation: switches[1].value && shouldAnimationStart() }"
            >
              {{ switches[1].name }}
            </h4>
            <app-shared-toggle-switch
              [type]="'error'"
              [id]="1"
              [isErroring]="switches[1].value"
              (checked)="handleChange($event)"
              [disabled]="!connected || !telemetryData.is_running"
            ></app-shared-toggle-switch>
          </div>
        </div>
        <div class="column">
          <div class="switch-item">
            <h4
              class="switch-label"
              [ngClass]="{ erroring: switches[2].value, flashAnimation: switches[2].value && shouldAnimationStart() }"
            >
              {{ switches[2].name }}
            </h4>
            <app-shared-toggle-switch
              [type]="'error'"
              [id]="2"
              [isErroring]="switches[2].value"
              (checked)="handleChange($event)"
              [disabled]="!connected || !telemetryData.is_running"
            ></app-shared-toggle-switch>
          </div>
          <div class="switch-item">
            <h4
              class="switch-label"
              [ngClass]="{ erroring: switches[3].value, flashAnimation: switches[3].value && shouldAnimationStart() }"
            >
              {{ switches[3].name }}
            </h4>
            <app-shared-toggle-switch
              [type]="'error'"
              [id]="3"
              [isErroring]="switches[3].value"
              (checked)="handleChange($event)"
              [disabled]="!connected || !telemetryData.is_running"
            ></app-shared-toggle-switch>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
