@import 'src/styles/styles.scss';


.two-column {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;

  .column-item {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;

    &.gap {
      gap: 2rem;
      margin-top: 4rem;
    }

    .connection-heartbeat-text {
      width: fit-content;
      position: absolute;
      transform: translateY(-2rem);
      color: $lightGray;
    }
  }
}

.column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.row {
  width: fit-content;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: space-between;
}

.switch-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  justify-content: flex-end;

  .switch-label {
    white-space: nowrap;
  }

  .erroring {
    color: $red;
    // animation: blinking 3s infinite;
  }

  .flashAnimation {
    // animation: blinking 3s;
  }
}

@keyframes blinking {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
