@import 'src/styles/styles.scss';

.two-column {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
  height: 100%;
}

.column-item {
  width: 50%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  // border: 20px solid $secondary;
  // padding-top: 2rem;
  // padding-bottom: 2rem;
  // height: 5rem;
}

.column-item.gap {
  gap: 2rem;
}

.row {
  width: fit-content;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: space-between;
}

.switch-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  justify-content: flex-end;
}

.switch-label {
  white-space: nowrap;
}

.erroring {
  color: $red;
  // animation: blinking 3s infinite;
}

.flashAnimation {
  // animation: blinking 3s;
}

@keyframes blinking {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.connection-heartbeat-text {
  width: fit-content;
  position: absolute;
  transform: translateY(3rem);
  color: $lightGray;
}
