<!-- ADAPTED FROM https://github.com/hssanbzlm/angular_reusable_modal_pattern/tree/master/src/app/modal -->
<div class="modal-container" (click)="closeMe()">
  <div *ngIf="hasContent" class="card-container" (click)="$event.stopPropagation()">
    <app-shared-card size="large">
      <div class="header-button-area">
        <app-shared-outlined-button (click)="closeMe()">X</app-shared-outlined-button>
      </div>
      <ng-container *ngTemplateOutlet="modalContentRef"></ng-container>
    </app-shared-card>
  </div>
</div>
