/**
 * Global color palette
 * =================================
 * - Generic colors
 * - Color scheme
 */

// Generic colors
$black: #121212;
$gray: #3d3d3d;
$mediumGray: #676767;
$lightGray: #c0c0c0;
$white: #ececec;
$green: #40b218;
$yellow: #e4b305;
$red: #ba1a1a;
$blue: #163BBD;
$orange: #BD7A16;
$lime: #A6BD16;

// Color scheme
$primary: #212121;
$secondary: #2e2e2e;
$primary-text: #ececec;
