/**
 * Global color palette
 * =================================
 * - Generic colors
 * - Color scheme
 */

// Generic colors
$black: #121212;
$gray: #121212;
$lightGray: #c0c0c0;
$white: #ececec;
$green: #40b218;
$yellow: #e4b305;
$red: #ba1a1a;

// Color scheme
$primary: #212121;
$secondary: #2e2e2e;
$primary-text: #ececec;

