<div class="container">
  <app-shared-card title="Rooms" size="medium">
    <div class="rooms-row-container">
      <div *ngIf="loaded && !rooms?.length"><h4>No Rooms</h4></div>
      <div class="rooms-row" *ngFor="let room of rooms" (click)="openModal(room)">
        <div class="item left">
          <app-shared-tooltip text="Telemetry is{{ room.status === 'green' || room.status === 'yellow' ? ' ' :  ' not' }} {{ room.status === 'yellow' ? 'paused' : 'running' }}">
            <app-shared-status-indicator status="{{ room.status }}"></app-shared-status-indicator>
          </app-shared-tooltip>
          <div class="fixed-width">
            <h5>{{ room.name }}</h5>
          </div>
          <div class="room-row">
            <app-shared-tooltip text="User HMD is{{ room.userConnected ? ' ' : ' not' }} connected">
              <div class="connection-indicator" [ngClass]="room.userConnected ? 'green' : 'gray'"></div>
            </app-shared-tooltip>
            <h5>Room {{ room.id }}</h5>
          </div>
          <div *ngFor="let error of room.errors" class="fixed-width small">
            <h5 class="error-label">{{ error.value ? error.name : '' }}</h5>
          </div>
        </div>
        <div class="item right">
          <app-shared-station-tag [station]="room.station_name" [selected]="true">{{
            room.station_name
          }}</app-shared-station-tag>
          <app-shared-switch-station-button
            *ngIf="room.status === 'green'"
            (click)="$event.stopPropagation()"
            [rooms]="rooms"
            [room]="room"
            (changeEvent)="dropdownVisibilityChanged($event)"
            [disabledDropdown]="modalOpen"
          />
        </div>
      </div>
    </div>
  </app-shared-card>
</div>
<!-- Modal Component & Content -->
<ng-template #modal>
  <div class="modal-container">
    <div class="modal-header">
      <h1>{{ selectedRoom?.name }} - Room {{ selectedRoom?.id }}</h1>
    </div>
    <div class="modal-body">
      <div class="col left">
        <app-telemetry [variant]="MODAL_VARIANT" [selectedRoom]="selectedRoom"></app-telemetry>
      </div>
      <div class="col right">
        <app-rooms-station-switch-card [selectedRoom]="selectedRoom"></app-rooms-station-switch-card>
        <app-uia [variant]="MODAL_VARIANT" [selectedRoom]="selectedRoom"></app-uia>
      </div>
    </div>
  </div>
</ng-template>
