@import 'src/styles/styles.scss';

.container {
  width: 100%;
  display: flex;
  justify-content: center;

  .rooms-row-container {
    margin-top: 2rem;

    .rooms-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      align-content: center;
      padding: 0.5rem 1rem;
      margin: 0.5rem 0rem;
      background-color: $secondary;
      border-radius: 0.3rem;

      &:hover {
        background-color: $gray;
        cursor: pointer;
      }

      .item {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2.5rem;

        .error-label {
          color: $red;
          font-weight: 500;
          font-size: 0.8rem;
          font-weight: bold;
          opacity: 0.7;
          text-align: center;
        }

        .connection-indicator {
          width: 0.5rem;
          height: 0.5rem;
          border-radius: 50%;
          background-color: $secondary;

          &.green {
            background-color: $green;
          }
        }

        .room-row {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 0.5rem;
        }
      }
    }
  }
}

.inline-hidden {
  display: none;
}

div {
  .fixed-width {
    width: 6rem;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &.small {
      width: 3rem;
    }
  }
}

// Modal Styles
.modal-container {
  display: flex;
  gap: 2rem;
  flex-direction: column;

  .modal-header {
    margin-bottom: 1rem;
  }

  .modal-body {
    display: flex;
    flex-direction: row;
    gap: 2rem;

    .col {
      display: flex;
      flex-direction: column;
      width: 50%;
  
      &.left {
      }
  
      &.right {
        gap: 2rem;
      }
    }
  }
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}