<div class="container">
  <app-shared-card title="Rooms" size="medium">
    <div class="rooms-row-container">
      <div *ngIf="loaded && !rooms?.length"><h4>No Rooms</h4></div>
      <div class="rooms-row" *ngFor="let room of rooms" (click)="openModal(room)">
        <div class="item left">
          <app-shared-status-indicator status="{{ room.status }}"></app-shared-status-indicator>
          <div class="fixed-width">
            <h5>{{ room.name }}</h5>
          </div>
          <h5>Room {{ room.id }}</h5>
        </div>
        <div class="item right">
          <app-shared-station-tag station="{{ room.station }}">{{ room.station }}</app-shared-station-tag>
          <app-shared-outlined-button (click)="$event.stopPropagation(); switch()">SWITCH</app-shared-outlined-button>
        </div>
      </div>
    </div>
  </app-shared-card>
</div>
<!-- Modal Component & Content -->
<ng-template #modal>
  <app-telemetry [selectedRoom]="selectedRoom"></app-telemetry>
  <app-uia *ngIf="selectedRoom?.station == 'UIA'" [selectedRoom]="selectedRoom"></app-uia>
</ng-template>
