@import 'src/styles/styles.scss';


.container {
  width: 100%;
  display: flex;
  justify-content: center;

  .rooms-row-container {
    margin-top: 2rem;

    .rooms-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      align-content: center;
      padding: 0.5rem 1rem;
      margin: 0.5rem 0rem;
      background-color: $secondary;
      border-radius: 0.3rem;

      &:hover {
        background-color: $gray;
        cursor: pointer;
      }

      .item {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2.5rem;
      }
    }
  }
}

.inline-hidden {
  display: none;
}

div {
  .fixed-width {
    width: 6rem;
    text-align: left;
  }
}
