@import 'src/styles/styles.scss';

// VARIANT = "small"
$small-max-height: 10rem;
$small-min-width: 5rem;

// VARIANT = "large"
$large-max-height: 20rem;
$large-min-width: 10rem;

.parent-container {
  position: sticky;
  z-index: 1000;

  .dropdown-container {
    position: absolute;
  
    &.small {
      min-width: $small-min-width;
  
      ul {
        max-height: $small-max-height;
      }
    }
  
    &.large {
      min-width: $large-min-width;
  
      ul {
        max-height: $large-max-height;
      }
    }

    .dropdown {
      border-radius: 0.5rem;
      background-color: $secondary;
    }
  
    .submit-button {
      margin-top: 0.2rem;
      background-color: $green;
      color: white;
      border-radius: 0.3rem;
      border: none;
      padding: 0.4rem 0.8rem;
      cursor: pointer;
      transition: all 0.1s ease-in-out;
  
      &:hover {
        opacity: 0.9;
        background-color: $green;
      }
  
      & * {
        font-weight: 500;
      }
    }
  }
}

.activeOption {
  background-color: $primary;
  color: white;
}

ul {
  margin: 0;
  padding: 0;
  overflow-y: auto;
  list-style: none;

  li {
    padding: 0.5rem 0.5rem;
    color: black;
    min-height: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    h4 {
      text-align: left;
      padding: 0rem 0.5rem;
    }

    &:hover {
      cursor: pointer;

      &:not(.activeOption) {
        opacity: 0.7;
      }
    }
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  /* border-radius: 5px; */
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: $lightGray;
  border-radius: 1rem;
  /* border-radius: 5px 0 0 5px; */
  /* box-shadow: inset 5px -5px 5px rgba(58, 114, 60, 1); */
}
